@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.hompage_bg {
  background-image: url("../src/assets/Images/bghome.svg");
}

.about-text-gradient1 {
  background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  -webkit-background-clip: clip;
  -webkit-text-fill-color: transparent;
}

.about-text-gradient2 {
  background-image: linear-gradient(to right, #ff512f, #f09819);
  -webkit-background-clip: clip;
  -webkit-text-fill-color: transparent;
}

.about-text-gradient3 {
  background-image: linear-gradient(to right, #e65c00, #f9d423);
  -webkit-background-clip: clip;
  -webkit-text-fill-color: transparent;
}

.about-text-gradient4 {
  background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: clip;
  -webkit-text-fill-color: transparent;
}


